@import './colors.scss';
@import './mixins.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  padding: 30px;
  background-color: rgb(199, 228, 156);
}

button {
  cursor: pointer;
}
